%form{:action => "/released_animal", :method => "post"}
  #col1
    %p.clear
      %label{:for => "animal_id"} Animal ID
      %input{:type => "text", :name => "animal_id"}
    %p.clear
      %label{:for => "nickname"} Nickname
      %input{:type => "text", :name => "nickname"}
    %p.clear
      %label{:for => "birthdate"} Birthdate
      %input{:type => "text", :name => "birthdate", :id => "birthdate"}
    %p.clear
      %label{:for => "deathdate"} Deathdate
      %input{:type => "text", :name => "deathdate", :id => "deathdate"}        
    %p.clear
      %label{:for => "microchip"} Microchip
      %input{:type => "text", :name => "microchip"}
    %p.clear
      %label{:for => "release_site"} Release Site
      %input{:type => "text", :name => "release_site"}
  #col2
    %p.clear
      %label{:for => "frequency"} Frequency
      %input{:type => "text", :name => "frequency"}
    %p.clear
      %label{:for => "sex"} Sex
      %select{:name => "sex"}
        %option{:value => "Female"} Female
        %option{:value => "Male"} Male
    %p.clear
      %label{:for => "release_date"} Release Date
      %input{:type => "text", :name => "release_date", :id => "release_date"}
    %p.clear
      %label{:for => "enclosure_type"} Enclosure Type
      %input{:type => "text", :name => "enclosure_type"}
    %p.clear
      %label{:for => "release_location_N"} Release Loc N
      %input{:type => "text", :name => "release_location_N"}
    %p.clear
      %label{:for => "release_location_E"} Release Loc E
      %input{:type => "text", :name => "release_location_E"}
  %br.clear
  %br.clear
  #col1
    %p.clear
      %label{:for => "remarks"} Remarks
      %br
      %textarea{:name => "remarks", :rows => 5, :cols => 40}
  #col2
    %p.clear
      %label{:for => "cause_of_death"} Cause of Death
      %br
      %textarea{:name => "cause_of_death", :rows => 5, :cols => 40}        
  %p.clear
    %input{:type => "submit", :value => "submit"}

:javascript                                             
  $("#birthdate").datepicker({dateFormat:"yy-mm-dd"});
  $("#deathdate").datepicker({dateFormat:"yy-mm-dd"});  
  $("#release_date").datepicker({dateFormat:"yy-mm-dd"});
