body {
  font-family: Verdana;
  font-size: 14px;
  background-color: #333333;
  color: #cccccc;
  margin: 0 0 0 0; }

a:link {
  color: #55ee08;
  text-decoration: none; }
a:visited {
  color: #55ee08; }
a:hover {
  text-decoration: underline; }

img {
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #568025;
  margin-bottom: 0; }

form #col1 {
  float: left; }
form #col2 {
  float: right; }
form label {
  float: left;
  padding-top: 10px;
  padding-right: 20px; }
form input, form select {
  float: right; }

form#login {
  width: 40%; }
  form#login label {
    clear: both; }
  form#login input {
    float: left; }

li#logout {
  font-size: smaller; }

#footer {
  font-family: Helvetica;
  font-size: 10px;
  color: #cccccc;
  padding: 5px;
  width: 100%; }
  #footer #left {
    float: left;
    padding-right: 20px; }
  #footer #right {
    float: right; }

#menu {
  position: absolute;
  top: 0px;
  left: 100px;
  font-size: 16px;
  font-weight: bold; }
  #menu ul {
    list-style: none; }
    #menu ul li {
      padding: 0 20px 0 0;
      display: inline; }

#rt_selections .selection {
  padding: 0 20px 0 0;
  display: inline; }
  #rt_selections .selection .label {
    padding: 0 10px 0 0;
    display: inline; }

#buliimia {
  font-size: smaller; }

.hlavni {
  background-color: #333333;
  color: #cccccc;
  border: 2px solid #44aacc;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px; }

.nopad {
  padding: 0; }

.clear {
  clear: both; }

tr.paarisarv td {
  color: black; }

.round {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.bottomround {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#flash {
  font-weight: bold;
  font-size: smaller;
  color: #bb0000;
  padding-bottom: 20px; }

#map_canvas {
  height: 640px;
  width: 640px; }

#triangulate form#new_location_form {
  float: left; }
  #triangulate form#new_location_form label, #triangulate form#new_location_form input {
    float: none; }
#triangulate #map {
  float: left;
  padding-left: 20px; }
