%title Euroopa naarits - European Mink
%link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/reset.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/blueprint/screen.css"}
/[if IE]                                        
  %link{:rel => "stylesheet", :href => "/stylesheets/blueprint/ie.css", :type => "text/css", :media => "screen, projection"}                        
%link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/ui-lightness/jquery-ui-1.8.21.custom.css"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/rt.css"}
%script{:type => "text/javascript", :src => "/javascripts/jquery-1.7.2.min.js"}
%script{:type => "text/javascript", :src => "/javascripts/jquery-ui-1.8.21.custom.min.js"}
%script{:type => "text/javascript", :src => "/javascripts/rt.js"}
<script src='http://maps.googleapis.com/maps/api/js?key=AIzaSyD6nRaB1ymBM2TszlpiqxD_ys_VzKKZgJE&sensor=false' type='text/javascript'></script>
%script{:type => 'text/javascript', :src => '/javascripts/trianglemap.js'}
